nav {
    display: flex;
    background-color: rgb(51, 51, 51);
    min-height: 5vw;
    align-items: center;
}

nav h3 {
    flex: 1;
    text-align: center;
    color: #fff;
    border-right: 1px solid #fff;
}

nav ul {
    flex: 2;
    display: flex;
    justify-content: space-around;
}